# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode9.1
language: objective-c
cache: cocoapods
podfile: Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --project-directory=SceneKitVideoRecorderDemo
script:
- set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace SceneKitVideoRecorderDemo/SceneKitVideoRecorderDemo.xcworkspace -scheme SceneKitVideoRecorderDemo -destination "platform=iOS Simulator,name=iPhone 7,OS=11.0.1" ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
